pane_frames false
show_startup_tips false
theme "rose-pine-moon"

themes {
  rose-pine-moon {
    fg "#e0def4"
    bg "#232136"
    red "#eb6f92"
    green "#3e8fb0"
    blue "#9ccfd8"
    yellow "#f6c177"
    magenta "#c4a7e7"
    orange "#ea9a97"
    cyan "#95b1ac"
    black "#393552"
    white "#e0def4"
  }
}

load_plugins {
    zellij:session-manager
    https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm
}
